body {
    background-color: darkgrey;
}

.content {
    display:block;
    margin: 0 auto;
    width: 1000px;
    background-color: whitesmoke;
    border-radius: 2px;
}

.resume {
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 200px;
}