body {
    background-color: darkgrey;
    font-family: 'Loma';
}

table {
    border-collapse: collapse;
}

.content {
    display:block;
    margin: 0 auto;
    width: 1200px;
    background-color: whitesmoke;
    border-radius: 2px;
}

.resume {
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 200px;
}

.work {
    
}

.play {
    
}



.name, .job {
    text-transform: uppercase;         
}

#subtitle {
    margin-left: 40px;
}