body {
    background-color: darkgrey;
    font-family: 'Arial';
}

table {
    border-collapse: collapse;
}

.content {
    display: block;
    margin: 0 auto;
    width: 900px;
    background-color: whitesmoke;
    border-radius: 2px;
}

.resume {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 200px;
}

.work {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 40px;
}

.play {
    display: flex;
}

.workplay {
    display: flex;
}

.tableright {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 20px;
}

.tableleft {
    margin-top: 100px;
    margin-left: 20px;
}

.tabletitle, .tabletitle2 {
    text-transform: uppercase;
    color: #3D91CD;
    font-size: 110%;
    font-weight: bold;
}

.tabletitle2 {
    font-size: 140%;
}

.tabletext {
    padding-top: 7px;
    padding-bottom: 25px;
}

.social {
    padding-bottom: 9px;
    padding-left: 7px;
    font-size: 105%;
}

.tablesubtitle {
    font-weight: bold;
}

.year {
    display: flex;
    width: 100px;
    margin-top: 3px;
    text-align: left;
    align-content: flex-start;
    font-weight: bold;
}


.name, .job {
    text-transform: uppercase;
    line-height: 90%;
}

#subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    color: whitesmoke;
    background-color: #3D91CD;
    width: 110px;
    height: 80px;
    padding-bottom: 10px;
    margin-left: 50px;
    font-size: 150%;
    border-radius: 1px;
}

.name {
    font-size: 350%;
    color: #3D91CD;
    font-weight: bold;
}

.job {
    font-size: 130%;
}